.card {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indent {
  padding-left: 30px;
}

tbody tr:nth-child(odd){
  background-color: #D2D2D2;
}

tbody tr:nth-child(even){
  background-color: #F2F2F2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}